#health-issue-form{
    background-color: aquamarine;
    padding: 20px;
    margin: 20px auto; /* Centering forms */
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 90%; /* Responsive width */
    max-width: 500px; /* Maximum width */

}

#health-issue-form label{
    font-family: 'Arial', sans-serif; /* Clean, sans-serif font */
    background-color: aliceblue;
    border-radius: 8px;

}

#health-issue-form input{
    background-color: aliceblue;
    border-radius: 8px;

}

#health-issue-form button{
    font-family: 'Arial', sans-serif; /* Clean, sans-serif font */
    background-color: aliceblue;
    border-radius: 8px;

}

#health-issue-form button:hover{
    background-color: rgb(239, 241, 93);

}


