*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', sans-serif;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.profile-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.profile-image{

    width: 300px;
    border-radius: 20px;
    text-align: center;
    align-items: center;

}

.profile-image h1{
    font-weight: 450;
    color:black;

}

.profile-image img{
    width: 180px;
    height:180px;
    border-radius: 50%;

}

label{
    display: block;
    width: 200px;
    color: black;
    padding: 12px;
    margin: 10px auto;
    cursor: pointer;
}


.profile-information{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;

}

#profile-change-button{
    text-decoration: none;
    background-color: rgb(171, 235, 108);
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'Garamond', serif	;
}


#profile-change-button:hover{
        background-color: rgb(108, 235, 222);

}

